@font-face {
  font-family: Estedad;
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/ttf/Estedad-FD-ExtraBold.ttf');
  src:
    url('../fonts/woff2/Estedad-FD-ExtraBold.woff2') format('woff2'),
    url('../fonts/woff2/Estedad-FD-ExtraBold.woff2') format('woff'),
    url('../fonts/ttf/Estedad-FD-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: Estedad;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ttf/Estedad-FD-Bold.ttf');
  src:
    url('../fonts/woff2/Estedad-FD-Bold.woff2') format('woff2'),
    url('../fonts/woff2/Estedad-FD-Bold.woff2') format('woff'),
    url('../fonts/ttf/Estedad-FD-Bold.ttf') format('truetype');
}
@font-face {
  font-family: Estedad;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts//ttf/Estedad-FD-SemiBold.ttf');
  src:
    url('../fonts/woff2/Estedad-FD-SemiBold.woff2') format('woff2'),
    url('../fonts/woff2/Estedad-FD-SemiBold.woff2') format('woff'),
    url('../fonts/ttf/Estedad-FD-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: Estedad;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/ttf/Estedad-FD-Light.ttf');
  src:
    url('../fonts/woff2/Estedad-FD-Light.woff2') format('woff2'),
    url('../fonts/woff2/Estedad-FD-Light.woff2') format('woff'),
    url('../fonts/ttf/Estedad-FD-Light.ttf') format('truetype');
}

@font-face {
  font-family: Estedad;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/ttf/Estedad-FD-Regular.ttf');
  src:
    url('../fonts/ttf/Estedad-FD-Regular.ttf') format('woff2'),
    url('../fonts/ttf/Estedad-FD-Regular.ttf') format('woff'),
    url('../fonts/ttf/Estedad-FD-Regular.ttf') format('truetype');
}
